.wrapper {
  padding: 30px;
}

.pageTitle {
  text-align: center;
  margin-bottom: 25px;
  font-size: 28px;
  font-weight: 600;
}

.empty {
  text-align: center;
  font-size: 18px;
  color: gray;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 20px;
}

.card {
  background: #ffffff;
  border-radius: 10px;
  /* height:fit-content; */
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
  padding: 18px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
  transition: transform 0.2s ease;
}

.card:hover {
  transform: translateY(-4px);
}

.cardHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-size: 18px;
  font-weight: 600;
}

.description {
  margin-top: 10px;
  color: #555;
  font-size: 14px;
}

.status {
  padding: 4px 10px;
  border-radius: 20px;
  font-size: 12px;
  text-transform: capitalize;
  font-weight: 500;
}

.pending {
  background-color: #fff3cd;
  color: #856404;
}

.completed {
  background-color: #d4edda;
  color: #155724;
}

.actions {
    padding-top: 1rem;
    margin-top: auto;
  display: flex;
  gap: 10px;
 
}

.updateBtn,
.deleteBtn {
  flex: 1;
  padding: 8px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
}

.updateBtn {
  background-color: #007bff;
  color: white;
}

.updateBtn:hover {
  background-color: #0056b3;
}

.deleteBtn {
  background-color: #dc3545;
  color: white;
}

.deleteBtn:hover {
  background-color: #a71d2a;
}

.loading {
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  margin: 20px 0;
}
