.container {
  width: 55%;
  margin: 40px auto;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  
}

body{
    background: rgb(242, 239, 239);
}

.mainTitle {
  text-align: center;
  font-size: 34px;
  font-weight: 700;
  margin-bottom: 35px;
  color: #222;
}

.card {
  background: #ffffff;
  padding: 30px 35px;
  border-radius: 10px;
  box-shadow: 0 4px 18px rgba(0, 0, 0, 0.06);
  margin-bottom: 30px;
}

.sectionTitle {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 20px;
  color: #222;
}

.label {
  display: block;
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 8px;
  margin-top: 18px;
  color: #000000;
}

.input {
  width: 100%;
  padding: 12px 14px;
  border-radius: 6px;
  border: 1px solid #dcdcdc;
  font-size: 15px;
  outline: none;
  transition: border 0.2s ease;
}

.input:focus {
  border: 1px solid #2ecc71;
}

.textarea {
  width: 100%;
  padding: 12px 14px;
  border-radius: 6px;
  border: 1px solid #dcdcdc;
  font-size: 15px;
  resize: none;
  outline: none;
  transition: border 0.2s ease;
}

.textarea:focus {
  border: 1px solid #2ecc71;
}

.button {
  margin-top: 20px;
  background-color: #2ecc71;
  color: white;
  border: none;
  padding: 10px 22px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 15px;
  font-weight: 600;
  transition: background 0.2s ease, transform 0.1s ease;
}

.button:hover {
  background-color: #27ae60;
  transform: translateY(-1px);
}

.noTaskText {
  color: #555;
  font-size: 15px;
}


.select {
  width: 100%;
  padding: 12px 14px;
  border-radius: 6px;
  border: 1px solid #dcdcdc;
  font-size: 15px;
  outline: none;
  margin-bottom: 5px;
  transition: border 0.2s ease;
}

.select:focus {
  border: 1px solid #2ecc71;
}
